---
layout: base.njk
title: luca-junge.de
permalink: /index.html
---

<section class="hero">
  <div class="section-content">
    <div>
      <h1>Welcome to my website!</h1>
      <a class="button" href="/contact/" class="bg-primary">Contact me</a>
    </div>
    <div>
      <p>My name is Luca Junge.</p>
      <p>
        I'm a web developer, specializing on interactive web apps and 3D content.</p>
    </p>
  </div>
</div>
</section>

<section class="section-background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/museum_mobile.jpg');">
<div class="section-content">
  <div>
    <h1>Interactive Applications & Games</h1>
  </div>
  <div>
    <p>I specialize in 3D interactive content on the web. Built with three.js or the Godot Engine.</p>
  </div>
</div>
</section>

<section class="section-background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/portfolio_mobile.jpg');">
<div class="section-content">
  <div>
    <h1>My Portfolio</h1>
  </div>
  <div>
    <p>This is currently work in progress.</p>
  </div>
</div>
</section>

<section class="section-background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/workflows_mobile.jpg');">
<div class="section-content">
  <div>
    <h1>My Workflows</h1>
    <a class="button" href="/workflows/">Explore</a>
  </div>
  <div>
    <p>I am using many technologies and devices for my work. Over the years I have developed workflows and techniques to get the most out of my hardware and software.</p>
    <p>To see how I create my applications and software, see my documented workflows.</p>
  </div>
</div>
</section>

<section class="section-background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/blog_mobile.jpg');">
<div class="section-content">
  <div>
    <h1>My Blog</h1>
    <a class="button" href="/blog/">Visit</a>
  </div>
  <div>
    <p>Whenever I see or discover something not easily found online, I'm writing a blog post about it!</p>
  </div>
</div>
</section>
