---
layout: base.njk
title: luca-junge.de
permalink: /index.html
---

<section class="hero">
  <div class="section-content">
    <div>
      <h1>Welcome to my website!</h1>
      <a class="button" href="/contact/" class="bg-primary">Contact me</a>
    </div>
    <div>
      <p>My name is Luca Junge.</p>
      <p>
        I'm a web developer, specializing on interactive web apps and 3D content.</p>
    </p>
  </div>
</div>
</section>

<section class="section-background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/GY2YuO3r.jpg');">
<div class="section-content">
  <div>
    <h1>This is a another section statement</h1>
  </div>
  <div>
    <p>And a small text that explains this statement further. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, a qui!</p>
  </div>
</div>
</section>

<section>
<div class="section-content">
  <div>
    <h1>My Portfolio</h1>
  </div>
  <div>
    <p>This is currently work in progress.</p>
  </div>
</div>
</section>

<section>
<div class="section-content">
  <div>
    <h1>My Workflows</h1>
  </div>
  <div>
    <p>This is currently work in progress.</p>
  </div>
</div>
</section>

<section>
<div class="section-content">
  <div>
    <h1>My Blog</h1>
  </div>
  <div>
    <p>This is currently work in progress.</p>
  </div>
</div>
</section>

<section>
<div class="section-content">
  <div>
    <h1>Kontakt</h1>
  </div>
  <div>
    <p>This is currently work in progress.</p>
  </div>
</div>
</section>
