<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modelviewer.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <model-viewer src="{{file if file else 'model.glb'}}" field-of-view="{{fieldofview if fieldofview else 'auto'}}" ar xr-environment camera-controls shadow-intensity=1>
      {{content | safe}}
    </model-viewer>
    <script type="module" src="/assets/model-viewer.min.js"></script>
  </body>
</html>
