<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
    <title>{{ title }}</title>
  </head>
  <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(50, 50, 50, 0.9)), url('/assets/images/blog_mobile.jpg');">
    {% include "partials/header.njk" %}

    <aside style="margin-top: 70px;">
      <h1>{{title}}</h1>
    </aside>

    <main class="flex">
      <div class="content-padding container">
        {{ content | safe }}
      </div>
    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>
