---
title: "Kontakt"
layout: base.njk
---

<section>
  <div class="section-content">
    <p>Feel free to contact me via <a href="mailto:kontakt@luca-junge.de">kontakt@luca-junge.de</a>
    </p>
  </div>

</section>
