#main-header {
  font-family: "Caveat";
  font-size: 20pt;
  padding: 18px;
}

#main-header a {
  text-decoration: none;
  color: var(--text-color);
}

#main-header ul {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

#main-header ul li {
  margin: 0px;
  padding: 0px;
  text-decoration-skip-ink: none;
  text-underline-offset: 8px;
  text-decoration: var(--text-color) wavy underline;
}

/* Breakpoints */

@media (max-width: 400px) {
  #main-header > nav > ul {
    flex-direction: column;
  }
}
