---
title: Alle Posts
eleventyExcludeFromCollections: true
---

<div class="grid gap-10 gap-x-24 sm:grid-cols-1 sm:grid-rows-1 md:mt-7">
  {% for post in collections.post %}
    <div>
      <a href="{{post.url}}" class="inline-block md:inline-block text-2xl font-bold tracking-tight text-gray-100">{{post.data.title}}</a>

      <span class="block md:inline-block text-sm md:ml-2 mb-2 text-gray-500">{{post.date | readableDate }}</span>

      <p class="mb-3 font-normal text-gray-400">{{post.templateContent | excerpt}}</p>

      <a href="{{post.url}}" class="inline-flex items-center py-2 px-3 text-sm font-bold text-center text-white bg-gray-700 rounded-lg hover:bg-gray-600 transition ease-in-out">
    Weiterlesen</a>
    </div>
  {% endfor %}
</div>
