<footer class="px-2 py-2 md:py-3 text-gray-100 font-bolder bg-gray-900">
  <div class="flex flex-wrap justify-center">
    <span class="font-bold">
      <i class="fa-brands fa-creative-commons-zero mr-2"></i>Luca Junge</span>
  </div>
</foot>
