<header>
  <nav>
    <ul >
      <li>
        <a href="/" title="Zurück zur Startseite">
          <i class="fa fa-solid fa-house"></i>
        </a>
      </li>

      <li>
        <a href="/posts/" title="Alle Posts">
          <i class="fa fa-solid fa-message"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
