<header id="navigation">
  <nav>
    <ul>
      <li class="home-button">
        <a href="/" title="Zur Startseite">
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li>
        <a href="/portfolio/" title="Alle Posts">Portfolio</a>
      </li>
      <li>
        <a href="/workflows/" title="Workflow">Workflows</a>
      </li>
      <li>
        <a href="/blog/" title="Blog">Blog</a>
      </li>
      <li class="contact-button">
        <a href="/contact/" title="Kontakt">Kontakt</a>
      </li>
      <li>
        <a href="https://github.com/LucaJunge" title="GitHub Profil">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li class="menu-button">
        <a title="Menu anzeigen">
          <i class="fa fa-solid fa-bars"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
