<header id="main-header">
  <nav>
    <ul>
      <li>
        <a href="/" title="Zurück zur Startseite">HOME</a>
      </li>
      <li>
        <a href="/posts/" title="Alle Posts">POSTS</a>
      </li>
      <li>
        <a href="/examples/" title="Alle Posts">EXAMPLES</a>
      </li>
      <li>
        <a href="/tutorials/" title="Alle Posts">TUTORIALS</a>
      </li>
    </ul>
  </nav>
</header>
