<nav class="bg-gray-900 px-2 py-2 text-white font-bold">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <span class="font-bold">luca-junge.de</span>
    <a href="/">Home</a>
  </div>
</nav>
