<nav class="bg-white px-3 py-3 text-slate-800 font-bold border border-slate-100 border-b">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <span class="font-bold">luca-junge.de</span>
    <a href="/">Home</a>
  </div>
</nav>
