<nav class="bg-gray-900 px-3 py-4 text-white font-bold">
  <div class="container flex flex-wrap justify-center xs:justify-between  items-center mx-auto">

    <div class="flex flex-wrap items-center grow justify-between">
      <span class="font-bold text-xl md:text-md"></span>
    </div>

    <div class="flex flex-wrap items-center justify-between space-x-3 md:space-x-4">
      <a href="/" title="Zurück zur Startseite" class="inline-flex items-center py-3 px-3 text-sm font-bold text-center text-white bg-gray-700 rounded-lg hover:bg-gray-600 transition ease-in-out">
        <i class="fa fa-solid fa-house"></i>
      </a>

      <a href="/posts/" title="Alle Posts" class="inline-flex items-center py-3 px-3 text-sm font-bold text-center text-white bg-gray-700 rounded-lg hover:bg-gray-600 transition ease-in-out">
        <i class="fa fa-solid fa-message"></i>
      </a>

      <a href="/models/" title="Alle Modelle" class="inline-flex items-center py-3 px-3 text-sm font-bold text-center text-white bg-gray-700 rounded-lg hover:bg-gray-600 transition ease-in-out">
        <i class="fa fa-solid fa-cube"></i>
      </a>
    </div>
  </div>
</nav>
